################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Leaderboard/.vs/Leaderboard/v16
/Leaderboard/Leaderboard/obj
/Leaderboard/Leaderboard/bin/Debug/netcoreapp2.1
